#course-container {
    display: flex;
    list-style: none;
    flex-flow: wrap;
    justify-content: flex-start;
}

#course-container li {
    background-color:cornflowerblue;
    color: white;
    text-align: center;
    width: 130px;
    height: 35px;
    font-weight: bold;
    border-radius: 17px;
    margin: 5px 10px 5px 10px;
    font-size: 14pt;
}

#course-container p {
    display: block;
    color: white;
    width: 130px;
    height: 35px;
    border-radius: 17px;
    padding-top: 4px;
    cursor: pointer;
}

#course-container p:hover {
    background: rgb(155, 202, 255);
}

.course {
    display: none;
}

body {
    background-image: url(../../images/background.jpg);
    background-repeat: repeat;
}

#white-header {
    background-color: white;
    padding-bottom: 5px;
}

.score {
    float: right;
    margin: 10px;
    line-height: 12pt;
}

input {
    float: right;
    width: 2.5em;
    margin-right: 10px;
}

.right {
    float: right;
}

.btn.btn-outline-primary.right {
    height: 20pt;
    line-height: 14pt;
    font-size: 14pt;
}

.grade {
    display: inline;
    margin: 0;
    padding: 0;
}